version: 2.1
setup: true # Use https://circleci.com/docs/dynamic-config/ to trigger the `test-deploy` workflow.
orbs:
  orb-tools: circleci/orb-tools@11.5
  bats: circleci/bats@1.0
  shellcheck: circleci/shellcheck@2.0

filters: &all-branches-and-tags
  tags:
    only: /.*/

workflows:
  lint-pack:
    jobs:
      - orb-tools/lint:
          filters: *all-branches-and-tags
      - orb-tools/pack:
          filters: *all-branches-and-tags
      - orb-tools/review:
          filters: *all-branches-and-tags
      - shellcheck/check:
          dir: ./src/scripts
          exclude: SC2148
          filters: *all-branches-and-tags
      - bats/run:
          path: ./src/tests
          filters: *all-branches-and-tags

      # Publish a development version of the orb.
      - orb-tools/publish:
          orb-name: datadog/synthetics-ci-orb
          vcs-type: << pipeline.project.type >>
          context: orb-publishing # A restricted context containing private publishing credentials. Will only execute if approved by an authorized user.
          requires:
            [
              orb-tools/lint,
              orb-tools/pack,
              orb-tools/review,
              shellcheck/check,
              bats/run,
            ]
          filters: *all-branches-and-tags

      # Triggers the next workflow in the Orb Development Kit.
      - orb-tools/continue:
          pipeline-number: << pipeline.number >>
          vcs-type: << pipeline.project.type >>
          requires: [orb-tools/publish]
          filters: *all-branches-and-tags
